@import "reset.css";
@import "fonts.css";

body{
    background-color: #B7BFCC;
}

.header{
    width: 90%;
    margin:auto;
}

.header-carousel{
    height: 250px;
}

.header-carousel-img{
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-L-text{ /*Poseban font za Školska biblioteka*/
    font-family: "Andric";
    font-size: 30px;
}

.navbar-dark .navbar-brand{
    color: #adb5bd;
}

.navbar-brand-img{
    width:32px;
    height: 32px;
}

.navbar-brand{
    padding-top: .05rem;
    padding-bottom: .8rem;
}

.navbar{
    padding:0;
    padding-left: .5rem;
}

#Knjizevnost-Navbar-Dropdown:hover{
    cursor: pointer;
}

#NavBarDropDownKorisnik:hover{
    cursor: pointer;
}

#User-CP-Navbar:hover{
    cursor: pointer;
}

.sUContainer{
    width: 90%;
    background-color: #E7EAEE;
    padding-top:20px;
    padding-bottom:20px;
}

.signupForm{
    width:70%;
    background-color: #DBDFE6;
    padding: 20px 20px;
    border: 1px solid black;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#signup-submit{
    margin-top: 15px; 
}

.info-signup{
    opacity: 0.7;
    margin-left:5px;
}

.info-signup:hover{
    opacity: 1.0;
    cursor: pointer;
}